main {
    margin: 5% 15%;
    font-family: "Times New Roman";
    color: #000000;
    padding-bottom: 60px;
}

h1 {
    text-align: center;
}

hr {
    height: 5px;
    color: #636363;
    background-color: #636363;
}

form {
    display: inline;
}

.required {
    font-style: italic;
    color: #000000;
}

main>p::first-letter {
    color: #636363;
    font-weight: bold;
    font-size: 100%; 
}

img {
    display: inline;
    float: right;
    width: 300px;
    padding-right: 10%;
    padding-top: 5%;
}

footer {
    display: block;
    background-color: #636363;
    text-align: center;
    bottom: 0;
    height: 90px;
    width: 100%;
    padding-top: 20px;
    font-family: "Times New Roman";
    color: #000000;
}

footer a {
    color: #000000;
}