nav {
    text-align: center;
}

nav ul {
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color:#636363;
    text-align: center;
}

nav li {
    float: left;
    text-align: center;
}

nav img {
    width: 125px;
    padding: 0px 40px;
    text-align: center;
}

#here {
    display: inline-block;
    text-align: center;
    color:#636363;
    font-family: "Times New Roman ";
    font-weight: bold;
    text-align: center;
    padding: 14px 40px ;
    background-color: #FFFFFF;
}

nav li a {
    display: inline-block;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
    padding: 14px 40px ;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #000000;
    color:#636363 
}