main {
    margin: 5% 15%;
    font-family: "Times New Roman";
    color: #000000;
    
}

table {
    margin: auto;
}

td img {
    display: inline;
    width: 300px;
    height: 190px;
    
}

td {
    padding: 0px;
    height: 300px;
    width: 600px;
    text-align: center;
}

p {
    padding: 0px 100px;
}

h2 {
    padding: 0px;
    text-align: center;
}

hr {
    color: #636363;
    height: 5px;
    background-color: #636363;
}

#partyText {
    padding: 0px 400px;
}

footer {
    display: block;
    background-color: #636363;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Times New Roman";
    color: #000000;
}

footer a {
    color: #000000;
}